Django>=3.2,<3.3
python-decouple
django-taggit
Pillow

djangorestframework

# third party modules
markdown       
django-filter  
drf-yasg[validation]
djangorestframework-simplejwt
django-cors-headers
django-robots
django-debug-toolbar
 
coreapi 

django-mail-templated
djoser
black
flake8-django
flake8
dj-rest-auth
pytest
pytest-django
Faker

# deployment
gunicorn


# background proccess and cache
celery
redis
django-redis
django-celery-beat

# database client
psycopg2-binary
